# Build dirs
cmake-build-*

# CMake
CMakeUserPresets.json

# IDE
.idea
.run

# Test dirs
tests/data/*
!tests/data/README.md
!tests/data/*.md5
tests/output/*
!tests/output/README.md

# Misc
build-deps-balazs.sh
