# Build dirs
cmake-build-*
vcpkg_installed

# CMake
CMakeUserPresets.json

# IDE
.idea
.run

# Test dirs
tests/data/*
!tests/data/README.md
!tests/data/*.md5
tests/output/*
!tests/output/README.md
tests_local

# Documentation
docs/html

# Local build scripts
build-deps-balazs.sh

# Virtual environments
.venv

out/