[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/val3dity"]
	path = external/val3dity
	url = https://github.com/Ylannl/val3dity.git
